/*================================
color
===============================*/

$base-color: #333;
$base-color2: #fff;
$main-color: #f6f4f1;
$main-color2: #d9cfca;
$main-color3: #faf8f5;
$main-color4: #ccc;
$accent-color: #f00;